[Unit]
Description=Leaves OS graphical session
Documentation=https://github.com/amirewontmiss/leaves-os
BindsTo=graphical-session.target
Wants=leaves-inference.service
Wants=leaves-agentd.service
Wants=leaves-api.service
Wants=leaves-compositor.service
Wants=leaves-notifyd.service
Wants=xdg-desktop-portal.service
After=basic.target

[Install]
WantedBy=graphical-session.target
